*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  color: #000000;
  margin-block-end: -100%;
}

h1 {
  margin: 15px 0 20px;
  color: #000000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  cursor: pointer;
  width: 130px;
  height: 50px;
  margin: 20px;
  color: #fff;
  background-color: #021526;
  border: 3px solid #ffda73;
  border-radius: 8px;
}

#rock-btn, #paper-btn, #scissors-btn {
  font-size: 24px;
}

.btn:hover {
  color: #ababab;
  transform: scale(0.9);
}

.rules-container {
  width: 65%;
  padding: 28px 0; 
  margin: auto;
  border-radius: 15px;
  border: 5px solid #ffda73;
  background-color: #021526;
  color: #fff;
}

.rules-container summary {
  color: wheat;
  text-transform: uppercase;
  font-weight: bold;
}

.rules-container ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-left: 30px;
  align-items: center;
  margin-top: 7px;  
  text-align: center;
}


.rules-container p {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif
}

.left p {
  display: block;
  justify-content: center;
  font-size: 18px;
}

.right p {
  font-size: 16px;
  color: #ababab;
  margin-top: 25px;   
}

span{
  color: rgb(255, 0, 0);
}

h4 {
  color: wheat;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15px;
}

h2 {
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media (max-width: 760px) {
  .rules-container {
    width: 90%;
  }
}



.score-container {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  font-size: 1.2rem;
  font-family: monospace;
}

.score {
  font-weight: 500;
}

.results-container {
  font-size: 1.3rem;
  margin: 15px 0;
}

#winner-msg {
  margin-top: 25px;
  font-family: monospace;
}

#results-msg {
  font-family: monospace;
}

#reset-game-btn {
  display: none;
  margin: 20px auto;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 25px;
  }

  .rules-container h4 {
    font-size: 18px;
  }

  .rules-container li {
    font-size: 15px;
    margin: 3px;
  }

  .right p {
    font-size: 15px; 
  }

  .score-container {
    font-size: 20px;
  }

  h2 {
    font-size: 22px;
  }

  .results-container {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-block-end: 15%;
  }

  h1 {
    margin-top: 20px;
    font-size: 22px;  
  } 
  .rules-container {
    width: 97%;
  }
  .score-container {
    font-size: 18px; 
  }
  .btn {
    width: 21%;
  }

  #rock-btn, #paper-btn, #scissors-btn {
    font-size: 20px;
  }

  .results-container p {
    font-size: 18px;
  }

  .results-container button {
    width: 30%;
    font-size: 17px;
  }

  .left p {
    margin-left: 15px; 
    font-size: 11px;
    font-weight: bolder;
    width: 90%;
  }

  .right p {
     font-size: 14px;
     margin-right: 5px;
     margin-left: 5px;
  }
  h2 {
    font-size: 16px;
  }

  h4 {
    margin: 5px;
    font-size: 12px;
    text-decoration: none;
  }

  ul li {
    display: inline-flex;
    font-size: 13px;
    margin-left: 5px;
    text-align: center;
  }
}